src/soap/LeadService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="LeadService" targetNamespace="http://tempuri.org/">
<wsp:Policy wsu:Id="BasicHttpBinding_ILeadService_policy">
<wsp:ExactlyOne>
<wsp:All>
<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken RequireClientCertificate="false"/>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic256/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
</wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsdl:types>
<xsd:schema targetNamespace="http://tempuri.org/Imports">
<xsd:import schemaLocation="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
<xsd:import schemaLocation="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.ApplicationBlocks.ExceptionManagement"/>
<xsd:import schemaLocation="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
<xsd:import schemaLocation="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArrayWorks.Intertask.Services.Cloud.SBLI"/>
<xsd:import schemaLocation="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ArrayWorks.Intertask.Services.Cloud"/>
<xsd:import schemaLocation="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xsd:import schemaLocation="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ILeadService_CreateLead_InputMessage">
<wsdl:part name="parameters" element="tns:CreateLead"/>
</wsdl:message>
<wsdl:message name="ILeadService_CreateLead_OutputMessage">
<wsdl:part name="parameters" element="tns:CreateLeadResponse"/>
</wsdl:message>
<wsdl:message name="ILeadService_CreateLead_ArrayWorksFaultExceptionFault_FaultMessage">
<wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.ApplicationBlocks.ExceptionManagement" name="detail" element="q1:ArrayWorksFaultException"/>
</wsdl:message>
<wsdl:message name="ILeadService_RemoveLeadFromLeadNuture_InputMessage">
<wsdl:part name="parameters" element="tns:RemoveLeadFromLeadNuture"/>
</wsdl:message>
<wsdl:message name="ILeadService_RemoveLeadFromLeadNuture_OutputMessage">
<wsdl:part name="parameters" element="tns:RemoveLeadFromLeadNutureResponse"/>
</wsdl:message>
<wsdl:message name="ILeadService_RemoveLeadFromLeadNuture_ArrayWorksFaultExceptionFault_FaultMessage">
<wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.ApplicationBlocks.ExceptionManagement" name="detail" element="q2:ArrayWorksFaultException"/>
</wsdl:message>
<wsdl:message name="ILeadService_GetEmailAddressesForLeadNurturingRemoval_InputMessage">
<wsdl:part name="parameters" element="tns:GetEmailAddressesForLeadNurturingRemoval"/>
</wsdl:message>
<wsdl:message name="ILeadService_GetEmailAddressesForLeadNurturingRemoval_OutputMessage">
<wsdl:part name="parameters" element="tns:GetEmailAddressesForLeadNurturingRemovalResponse"/>
</wsdl:message>
<wsdl:message name="ILeadService_GetEmailAddressesForLeadNurturingRemoval_ArrayWorksFaultExceptionFault_FaultMessage">
<wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.ApplicationBlocks.ExceptionManagement" name="detail" element="q3:ArrayWorksFaultException"/>
</wsdl:message>
<wsdl:message name="ILeadService_GetRisk_InputMessage">
<wsdl:part name="parameters" element="tns:GetRisk"/>
</wsdl:message>
<wsdl:message name="ILeadService_GetRisk_OutputMessage">
<wsdl:part name="parameters" element="tns:GetRiskResponse"/>
</wsdl:message>
<wsdl:message name="ILeadService_GetRisk_ArrayWorksFaultExceptionFault_FaultMessage">
<wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.ApplicationBlocks.ExceptionManagement" name="detail" element="q4:ArrayWorksFaultException"/>
</wsdl:message>
<wsdl:portType name="ILeadService">
<wsdl:operation name="CreateLead">
<wsdl:input wsaw:Action="http://tempuri.org/ILeadService/CreateLead" message="tns:ILeadService_CreateLead_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ILeadService/CreateLeadResponse" message="tns:ILeadService_CreateLead_OutputMessage"/>
<wsdl:fault wsaw:Action="http://tempuri.org/ILeadService/CreateLeadArrayWorksFaultExceptionFault" name="ArrayWorksFaultExceptionFault" message="tns:ILeadService_CreateLead_ArrayWorksFaultExceptionFault_FaultMessage"/>
</wsdl:operation>
<wsdl:operation name="RemoveLeadFromLeadNuture">
<wsdl:input wsaw:Action="http://tempuri.org/ILeadService/RemoveLeadFromLeadNuture" message="tns:ILeadService_RemoveLeadFromLeadNuture_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ILeadService/RemoveLeadFromLeadNutureResponse" message="tns:ILeadService_RemoveLeadFromLeadNuture_OutputMessage"/>
<wsdl:fault wsaw:Action="http://tempuri.org/ILeadService/RemoveLeadFromLeadNutureArrayWorksFaultExceptionFault" name="ArrayWorksFaultExceptionFault" message="tns:ILeadService_RemoveLeadFromLeadNuture_ArrayWorksFaultExceptionFault_FaultMessage"/>
</wsdl:operation>
<wsdl:operation name="GetEmailAddressesForLeadNurturingRemoval">
<wsdl:input wsaw:Action="http://tempuri.org/ILeadService/GetEmailAddressesForLeadNurturingRemoval" message="tns:ILeadService_GetEmailAddressesForLeadNurturingRemoval_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ILeadService/GetEmailAddressesForLeadNurturingRemovalResponse" message="tns:ILeadService_GetEmailAddressesForLeadNurturingRemoval_OutputMessage"/>
<wsdl:fault wsaw:Action="http://tempuri.org/ILeadService/GetEmailAddressesForLeadNurturingRemovalArrayWorksFaultExceptionFault" name="ArrayWorksFaultExceptionFault" message="tns:ILeadService_GetEmailAddressesForLeadNurturingRemoval_ArrayWorksFaultExceptionFault_FaultMessage"/>
</wsdl:operation>
<wsdl:operation name="GetRisk">
<wsdl:input wsaw:Action="http://tempuri.org/ILeadService/GetRisk" message="tns:ILeadService_GetRisk_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ILeadService/GetRiskResponse" message="tns:ILeadService_GetRisk_OutputMessage"/>
<wsdl:fault wsaw:Action="http://tempuri.org/ILeadService/GetRiskArrayWorksFaultExceptionFault" name="ArrayWorksFaultExceptionFault" message="tns:ILeadService_GetRisk_ArrayWorksFaultExceptionFault_FaultMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding_ILeadService" type="tns:ILeadService">
<wsp:PolicyReference URI="#BasicHttpBinding_ILeadService_policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CreateLead">
<soap:operation soapAction="http://tempuri.org/ILeadService/CreateLead" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ArrayWorksFaultExceptionFault">
<soap:fault name="ArrayWorksFaultExceptionFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="RemoveLeadFromLeadNuture">
<soap:operation soapAction="http://tempuri.org/ILeadService/RemoveLeadFromLeadNuture" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ArrayWorksFaultExceptionFault">
<soap:fault name="ArrayWorksFaultExceptionFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetEmailAddressesForLeadNurturingRemoval">
<soap:operation soapAction="http://tempuri.org/ILeadService/GetEmailAddressesForLeadNurturingRemoval" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ArrayWorksFaultExceptionFault">
<soap:fault name="ArrayWorksFaultExceptionFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetRisk">
<soap:operation soapAction="http://tempuri.org/ILeadService/GetRisk" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ArrayWorksFaultExceptionFault">
<soap:fault name="ArrayWorksFaultExceptionFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LeadService">
<wsdl:port name="BasicHttpBinding_ILeadService" binding="tns:BasicHttpBinding_ILeadService">
<soap:address location="https://sbli-services-qa.sblisales.com/cloud-services/LeadService.svc"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>